<style type="text/css">
	
	.container-detail-player {
		height: 160px;
	}

	.text-red {
		color: #FF0000;
	}

	.text-orange {
		color: #FF8000;
	}

	.text-yellow {
		color: #FFFF00;
	}

	.text-green {
		color: #008000;
	}

</style>